{
  "openapi": "3.1.0",
  "info": {
    "title": "Create artifact",
    "version": "1.3.0",
    "description": "Create a repo-local artifact in a safe documentation path."
  },
  "servers": [
    {
      "url": "https://buildflow.prochat.tools",
      "description": "BuildFlow public endpoint"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/api/actions/create-artifact": {
      "post": {
        "operationId": "createBuildFlowArtifact",
        "summary": "Create artifact",
        "description": "Create a repo-local artifact in a safe documentation path.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "sourceId": {
                    "type": "string",
                    "description": "Target source id. Required when more than one source is active."
                  },
                  "artifactType": {
                    "type": "string",
                    "enum": [
                      "implementation_plan",
                      "codex_prompt",
                      "claude_prompt",
                      "architecture_note",
                      "research_summary",
                      "test_plan",
                      "migration_plan",
                      "task_brief",
                      "general_doc"
                    ],
                    "description": "Type of artifact to create."
                  },
                  "title": {
                    "type": "string",
                    "description": "Human-readable title."
                  },
                  "content": {
                    "type": "string",
                    "description": "Markdown content to write."
                  },
                  "folder": {
                    "type": "string",
                    "description": "Optional relative folder. If omitted, BuildFlow chooses a safe default folder based on artifactType."
                  },
                  "filename": {
                    "type": "string",
                    "description": "Optional filename. If omitted, BuildFlow generates a timestamped slug filename."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Artifact created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "sourceId": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "artifactType": {
                      "type": "string"
                    },
                    "created": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
