{
  "openapi": "3.1.0",
  "info": {
    "title": "List files",
    "version": "1.1.0",
    "description": "List files and folders in a source."
  },
  "servers": [
    {
      "url": "https://buildflow.prochat.tools",
      "description": "BuildFlow public endpoint"
    }
  ],
  "paths": {
    "/api/actions/list-files": {
      "post": {
        "operationId": "listBuildFlowFiles",
        "summary": "List files",
        "description": "List files and folders in a source.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "sourceId": {
                    "type": "string",
                    "description": "Optional source id"
                  },
                  "path": {
                    "type": "string",
                    "description": "Optional folder path"
                  },
                  "depth": {
                    "type": "integer",
                    "description": "Max folder depth",
                    "default": 3,
                    "minimum": 1,
                    "maximum": 8
                  },
                  "glob": {
                    "type": "string",
                    "description": "Optional glob filter"
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Max entries",
                    "default": 100,
                    "minimum": 1,
                    "maximum": 500
                  },
                  "cursor": {
                    "type": "string",
                    "description": "Pagination cursor"
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Directory entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "sourceId": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "sourceId": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "file",
                              "directory"
                            ]
                          },
                          "sizeBytes": {
                            "type": "integer"
                          },
                          "modifiedAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "type"
                        ]
                      }
                    },
                    "nextCursor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "entries"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
