{
  "openapi": "3.1.0",
  "info": {
    "title": "Brain Bridge API",
    "version": "1.1.0",
    "description": "Search, read, inspect, and write across connected local knowledge sources through Brain Bridge. Brain Bridge combines repositories, notes, research folders, and other connected local sources into one shared context for ChatGPT while keeping files local."
  },
  "servers": [
    {
      "url": "https://brainbridge.prochat.tools",
      "description": "Brain Bridge public endpoint"
    }
  ],
  "paths": {
    "/api/actions/status": {
      "get": {
        "operationId": "getBrainBridgeStatus",
        "summary": "Get Brain Bridge status",
        "description": "Return the current Brain Bridge connection status and whether connected knowledge sources are available. Read-only.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Brain Bridge status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connected": {
                      "type": "boolean",
                      "description": "Whether Brain Bridge is connected and available"
                    },
                    "sourceCount": {
                      "type": "integer",
                      "description": "Number of connected knowledge sources"
                    },
                    "sourcesAvailable": {
                      "type": "boolean",
                      "description": "Whether at least one knowledge source is available"
                    }
                  },
                  "required": ["connected", "sourceCount", "sourcesAvailable"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/list-sources": {
      "get": {
        "operationId": "listKnowledgeSources",
        "summary": "List connected knowledge sources",
        "description": "Return the currently connected knowledge sources available through Brain Bridge. Read-only. Useful for understanding which repositories or folders are connected before searching.",
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Connected knowledge sources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Stable knowledge source identifier"
                          },
                          "label": {
                            "type": "string",
                            "description": "Human-readable knowledge source name"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Whether this knowledge source is enabled"
                          }
                        },
                        "required": ["id", "label", "enabled"]
                      }
                    }
                  },
                  "required": ["sources"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/search": {
      "post": {
        "operationId": "searchKnowledgeSources",
        "summary": "Search connected knowledge sources",
        "description": "Search across connected knowledge sources for matching files. Read-only. Returns safe relative paths for follow-up reads. Results may include sourceId showing which knowledge source a file came from. Absolute paths and ../ traversal are blocked.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "description": "Maximum results to return"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results from connected knowledge sources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sourceId": {
                            "type": "string",
                            "description": "Knowledge source identifier for the result"
                          },
                          "path": {
                            "type": "string",
                            "description": "Relative file path within the source repository"
                          },
                          "title": {
                            "type": "string",
                            "description": "File title"
                          },
                          "score": {
                            "type": "number",
                            "description": "Relevance score"
                          },
                          "snippet": {
                            "type": "string",
                            "description": "File content preview"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "description": "Last modified timestamp"
                          }
                        },
                        "required": ["path"]
                      }
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/read": {
      "post": {
        "operationId": "readKnowledgeSourceFile",
        "summary": "Read file from connected knowledge sources",
        "description": "Read the full content of a file from connected knowledge sources. Read-only. Use only relative paths returned by search. Absolute paths and ../ traversal are blocked for safety.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path"],
                "properties": {
                  "path": {
                    "type": "string",
                    "description": "Relative file path returned by the search action"
                  },
                  "sourceId": {
                    "type": "string",
                    "description": "Optional knowledge source identifier when known"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File content from connected knowledge sources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "description": "Relative file path"
                    },
                    "sourceId": {
                      "type": "string",
                      "description": "Knowledge source identifier when available"
                    },
                    "content": {
                      "type": "string",
                      "description": "Full file content"
                    }
                  },
                  "required": ["path", "content"]
                }
              }
            }
          },
          "400": {
            "description": "Error reading file",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/search-and-read": {
      "post": {
        "operationId": "searchAndReadKnowledgeSources",
        "summary": "Search and read connected knowledge sources",
        "description": "Search connected knowledge sources and read the top results in one call. Read-only. Limited to 3 results maximum. Does not modify files. Absolute paths and ../ traversal are blocked.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 2,
                    "description": "Maximum results to return, capped at 3"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results with file contents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sourceId": {
                            "type": "string",
                            "description": "Knowledge source identifier for the result, when available"
                          },
                          "path": {
                            "type": "string",
                            "description": "Relative file path within the source repository"
                          },
                          "title": {
                            "type": "string",
                            "description": "File title"
                          },
                          "snippet": {
                            "type": "string",
                            "description": "File content preview"
                          },
                          "content": {
                            "type": "string",
                            "description": "Full file content"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "description": "Last modified timestamp"
                          }
                        },
                        "required": ["path", "content"]
                      }
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/append-inbox-note": {
      "post": {
        "operationId": "appendInboxNote",
        "summary": "Create a new inbox note",
        "description": "Create a markdown note in the configured inbox destination. Writes only to the approved inbox path and never overwrites files. Filenames use a timestamp and slugified title to avoid collisions.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "content"],
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "Note title used to generate the filename"
                  },
                  "content": {
                    "type": "string",
                    "description": "Markdown content for the note"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "description": "Path to the created note"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status value, typically created"
                    }
                  },
                  "required": ["path", "status"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error message"
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
