{
  "openapi": "3.1.0",
  "info": {
    "title": "Brain Bridge API",
    "version": "1.0.0",
    "description": "Connect your local brain folder to ChatGPT. Read-only access to search and read files from your personal knowledge vault."
  },
  "servers": [
    {
      "url": "https://brainbridge.prochat.tools",
      "description": "Brain Bridge public endpoint"
    }
  ],
  "paths": {
    "/api/actions/search": {
      "post": {
        "operationId": "searchBrain",
        "summary": "Search local vault",
        "description": "Search your personal knowledge vault for files matching the query. This is a read-only action that does not modify any files. Returns relative file paths safe for use with the read action. Absolute paths and ../ traversal are blocked.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "description": "Maximum results to return (default: 10)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results from local vault",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string",
                            "description": "Relative file path in vault (safe for read action)"
                          },
                          "title": {
                            "type": "string",
                            "description": "File title"
                          },
                          "score": {
                            "type": "number",
                            "description": "Relevance score"
                          },
                          "snippet": {
                            "type": "string",
                            "description": "File content preview"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "description": "Last modified timestamp"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/read": {
      "post": {
        "operationId": "readBrainFile",
        "summary": "Read file from local vault",
        "description": "Read the full content of a file from your local vault. This is a read-only action that does not modify any files. Only accepts relative paths returned by the search action. Absolute paths and ../ traversal are blocked for safety.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["path"],
                "properties": {
                  "path": {
                    "type": "string",
                    "description": "Relative file path in vault (from search result only)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File content from local vault",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "path": {
                      "type": "string",
                      "description": "File path"
                    },
                    "content": {
                      "type": "string",
                      "description": "Full file content"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/search-and-read": {
      "post": {
        "operationId": "searchAndReadBrain",
        "summary": "Search and read files",
        "description": "Search and read the top N results in a single call. This is a read-only action that combines search and read operations for fewer confirmations. Limited to 3 results maximum. Does not modify any files. Absolute paths and ../ traversal are blocked.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query"],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query"
                  },
                  "limit": {
                    "type": "integer",
                    "default": 2,
                    "description": "Maximum results to return (capped at 3, default: 2)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results with full file contents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string",
                            "description": "Relative file path in vault"
                          },
                          "title": {
                            "type": "string",
                            "description": "File title"
                          },
                          "snippet": {
                            "type": "string",
                            "description": "File content preview"
                          },
                          "content": {
                            "type": "string",
                            "description": "Full file content"
                          },
                          "modifiedAt": {
                            "type": "string",
                            "description": "Last modified timestamp"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
