{
  "openapi": "3.1.0",
  "info": {
    "title": "BuildFlow API",
    "version": "3.0.0",
    "description": "BuildFlow GPT actions for status, sources, context, inspection, reading, and verified writes."
  },
  "servers": [
    {
      "url": "https://buildflow.prochat.tools",
      "description": "BuildFlow public endpoint"
    }
  ],
  "components": {
    "schemas": {},
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "paths": {
    "/api/actions/status": {
      "get": {
        "operationId": "getBuildFlowStatus",
        "summary": "Get status",
        "description": "Return connection status.",
        "x-openai-isConsequential": false,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "BuildFlow status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "connected": {
                      "type": "boolean"
                    },
                    "sourceCount": {
                      "type": "integer"
                    },
                    "sourcesAvailable": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "connected",
                    "sourceCount",
                    "sourcesAvailable"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/sources": {
      "get": {
        "operationId": "listBuildFlowSources",
        "summary": "List sources",
        "description": "Return sources and readiness.",
        "x-openai-isConsequential": false,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Source list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "indexStatus": {
                            "type": "string"
                          },
                          "searchable": {
                            "type": "boolean"
                          },
                          "writable": {
                            "type": "boolean"
                          },
                          "writePolicy": {
                            "type": "object"
                          }
                        },
                  "required": [
                    "id",
                    "label",
                    "enabled",
                    "active",
                    "indexStatus",
                    "searchable"
                  ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "sources"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/context/active": {
      "get": {
        "operationId": "getBuildFlowActiveContext",
        "summary": "Get active context",
        "description": "Return active sources.",
        "x-openai-isConsequential": false,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Active context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "contextMode": {
                      "type": "string",
                      "enum": [
                        "single",
                        "multi"
                      ]
                    },
                    "activeSourceIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "contextMode",
                    "activeSourceIds"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "setBuildFlowActiveContext",
        "summary": "Set active context",
        "description": "Set active sources.",
        "x-openai-isConsequential": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "contextMode": {
                    "type": "string",
                    "enum": [
                      "single",
                      "multi"
                    ],
                    "description": "Choose single or multi."
                  },
                  "sourceIds": {
                    "type": "array",
                    "description": "Source ids to activate.",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 10
                  }
                },
                "required": [
                  "contextMode",
                  "sourceIds"
                ]
              },
              "examples": {
                "single": {
                  "value": {
                    "contextMode": "single",
                    "sourceIds": [
                      "buildflow"
                    ]
                  }
                },
                "multi": {
                  "value": {
                    "contextMode": "multi",
                    "sourceIds": [
                      "buildflow",
                      "brain"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Active context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ]
                    },
                    "contextMode": {
                      "type": "string",
                      "enum": [
                        "single",
                        "multi"
                      ]
                    },
                    "activeSourceIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "sources": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "enabled": {
                            "type": "boolean"
                          },
                          "active": {
                            "type": "boolean"
                          },
                          "indexStatus": {
                            "type": "string"
                          },
                          "searchable": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "id",
                          "label",
                          "enabled",
                          "active",
                          "indexStatus",
                          "searchable"
                        ]
                      }
                    }
                  },
                  "required": [
                    "status",
                    "contextMode",
                    "activeSourceIds",
                    "sources"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/inspect": {
      "post": {
        "operationId": "inspectBuildFlowContext",
        "summary": "Inspect context",
        "description": "List files or search.",
        "x-openai-isConsequential": false,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "list_files",
                      "search"
                    ],
                    "description": "Choose list_files or search."
                  },
                  "sourceIds": {
                    "type": "array",
                    "description": "Optional sources.",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 10
                  },
                  "sourceId": {
                    "type": "string",
                    "description": "Optional single source."
                  },
                  "path": {
                    "type": "string",
                    "description": "Folder path for list_files."
                  },
                  "query": {
                    "type": "string",
                    "description": "Search query."
                  },
                  "depth": {
                    "type": "integer",
                    "description": "Tree depth.",
                    "default": 3,
                    "minimum": 1,
                    "maximum": 8
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Max results.",
                    "default": 50,
                    "minimum": 1,
                    "maximum": 200
                  }
                },
                "required": [
                  "mode"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inspect result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "mode": {
                      "type": "string"
                    },
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/read-context": {
      "post": {
        "operationId": "readBuildFlowContext",
        "summary": "Read files",
        "description": "Read exact files or search then read.",
        "x-openai-isConsequential": false,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "read_paths",
                      "search_and_read"
                    ],
                    "description": "Choose read_paths or search_and_read."
                  },
                  "sourceIds": {
                    "type": "array",
                    "description": "Optional sources.",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 10
                  },
                  "sourceId": {
                    "type": "string",
                    "description": "Optional single source."
                  },
                  "paths": {
                    "type": "array",
                    "description": "Exact paths.",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 10
                  },
                  "query": {
                    "type": "string",
                    "description": "Search query."
                  },
                  "limit": {
                    "type": "integer",
                    "description": "Max results.",
                    "default": 3,
                    "minimum": 1,
                    "maximum": 5
                  },
                  "maxBytesPerFile": {
                    "type": "integer",
                    "description": "Max bytes per file.",
                    "default": 30000,
                    "minimum": 1000,
                    "maximum": 60000
                  }
                },
                "required": [
                  "mode"
                ]
              },
              "examples": {
                "readPaths": {
                  "value": {
                    "mode": "read_paths",
                    "sourceId": "buildflow",
                    "paths": [
                      "README.md"
                    ]
                  }
                },
                "searchAndRead": {
                  "value": {
                    "mode": "search_and_read",
                    "query": "README",
                    "limit": 1,
                    "maxBytesPerFile": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Read result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "mode": {
                      "type": "string"
                    },
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "sourceId": {
                            "type": "string"
                          },
                          "path": {
                            "type": "string"
                          },
                          "content": {
                            "type": "string"
                          },
                          "truncated": {
                            "type": "boolean"
                          },
                          "sizeBytes": {
                            "type": "integer"
                          },
                          "modifiedAt": {
                            "type": "string"
                          },
                          "error": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path"
                        ]
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/write-artifact": {
      "post": {
        "operationId": "writeBuildFlowArtifact",
        "summary": "Write artifact",
        "description": "Create a verified repo-local artifact.",
        "x-openai-isConsequential": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "sourceId": {
                    "type": "string",
                    "description": "Target source id."
                  },
                  "artifactType": {
                    "type": "string",
                    "enum": [
                      "implementation_plan",
                      "codex_prompt",
                      "claude_prompt",
                      "architecture_note",
                      "research_summary",
                      "test_plan",
                      "migration_plan",
                      "task_brief",
                      "general_doc"
                    ],
                    "description": "Artifact type."
                  },
                  "title": {
                    "type": "string",
                    "description": "Artifact title."
                  },
                  "content": {
                    "type": "string",
                    "description": "Markdown content."
                  },
                  "folder": {
                    "type": "string",
                    "description": "Optional folder."
                  },
                  "filename": {
                    "type": "string",
                    "description": "Optional filename."
                  }
                },
                "required": [
                  "artifactType",
                  "title",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Artifact result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "allowed": {
                      "type": "boolean"
                    },
                    "sourceId": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "requestedPath": {
                      "type": "string"
                    },
                    "normalizedPath": {
                      "type": "string"
                    },
                    "sourceRootRelativePath": {
                      "type": "string"
                    },
                    "artifactType": {
                      "type": "string"
                    },
                    "changeType": {
                      "type": "string"
                    },
                    "created": {
                      "type": "boolean"
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "verifiedAt": {
                      "type": "string"
                    },
                    "bytesOnDisk": {
                      "type": "integer"
                    },
                    "bytesWritten": {
                      "type": "integer"
                    },
                    "bytesAppended": {
                      "type": "integer"
                    },
                    "replacements": {
                      "type": "integer"
                    },
                    "matchCount": {
                      "type": "integer"
                    },
                    "bytesBefore": {
                      "type": "integer"
                    },
                    "bytesAfter": {
                      "type": "integer"
                    },
                    "contentHash": {
                      "type": "string"
                    },
                    "contentPreview": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "verified",
                    "verifiedAt",
                    "bytesOnDisk",
                    "contentHash",
                    "contentPreview"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/actions/apply-file-change": {
      "post": {
        "operationId": "applyBuildFlowFileChange",
        "summary": "Change file",
        "description": "Append, create, overwrite, or patch a file.",
        "x-openai-isConsequential": true,
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "changeType": {
                    "type": "string",
                    "enum": [
                      "append",
                      "create",
                      "overwrite",
                      "patch"
                    ],
                    "description": "Choose append, create, overwrite, or patch."
                  },
                  "sourceId": {
                    "type": "string",
                    "description": "Target source id."
                  },
                  "path": {
                    "type": "string",
                    "description": "Target file path."
                  },
                  "content": {
                    "type": "string",
                    "description": "Content for append/create/overwrite."
                  },
                  "find": {
                    "type": "string",
                    "description": "Exact text to replace."
                  },
                  "replace": {
                    "type": "string",
                    "description": "Replacement text."
                  },
                  "separator": {
                    "type": "string",
                    "description": "Append separator.",
                    "default": "\n\n"
                  },
                  "allowMultiple": {
                    "type": "boolean",
                    "description": "Allow multiple patch matches.",
                    "default": false
                  },
                    "reason": {
                      "type": "string",
                      "description": "Why the file changed."
                    },
                    "dryRun": {
                      "type": "boolean",
                      "description": "Check whether the write would be allowed without writing."
                    },
                    "preflight": {
                      "type": "boolean",
                      "description": "Alias for dryRun."
                    }
                  },
                "required": [
                  "changeType",
                  "sourceId",
                  "path",
                  "reason"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File change result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "sourceId": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "artifactType": {
                      "type": "string"
                    },
                    "changeType": {
                      "type": "string"
                    },
                    "created": {
                      "type": "boolean"
                    },
                    "verified": {
                      "type": "boolean"
                    },
                    "verifiedAt": {
                      "type": "string"
                    },
                    "bytesOnDisk": {
                      "type": "integer"
                    },
                    "bytesWritten": {
                      "type": "integer"
                    },
                    "bytesAppended": {
                      "type": "integer"
                    },
                    "replacements": {
                      "type": "integer"
                    },
                    "contentHash": {
                      "type": "string"
                    },
                    "contentPreview": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "verified",
                    "verifiedAt",
                    "bytesOnDisk",
                    "contentHash",
                    "contentPreview"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          },
          "502": {
            "description": "Upstream error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "error"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
